/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
$baseColor:#337ab7;
$hoverColor:#23527c;
html{font-family:'Open Sans';}
body{background-image:url("../blu_stripes.png");}
a{color:$baseColor;text-decoration:none;}
a:visited{color:$baseColor;}
a:hover{color:$hoverColor;text-decoration:underline}
.sFont{font-family:'Niconne';}
.navBar
{
  background-color:#333333;
  width:auto;
  padding:10px;
}
.nav
{
  display:inline-block;
}
.navRight
{
  float:right;
}
.content
{
  text-align:center;
}
.masthead
{
  display:inline-block;
  padding:120px 0px 30px 0px;
  text-align:center;
  color:#333333;
}
h1
{
  font-size:6em;
  letter-spacing:20px;
}
.tagLine
{
  font-size:1.3em;
  padding:20px;
}
a .bookmarkletButton
{
  background-color:#5cb85c;
  display:inline-block;
  padding:20px;
  border-radius:5px;
  color:white;
  margin-top:30px;
  font-size:18px;
}
a .bookmarkletButton:hover{background-color:#449d44;}
.tryMe{font-size:12px;padding-top:3px;}
.words
{
  width:700px;
  margin:0 auto;
  padding:20px;
  text-align:left;
}
.item
{
  padding:10px;
}
.subHeading
{
  font-size:18px;
  font-weight:bold;
  padding-bottom:10px;
}
.subText{font-size:14px;line-height:120%;}
.first.item{border-top:1px solid black;padding-top:30px;}
.last.item{border-bottom:1px solid black;padding-bottom:30px;}
.attribution{font-size:13px;line-height:130%;}
@media(max-width:800px)
{
  .nav{display:block;text-align:center;}
  .navRight{float:none;margin-top:20px;}
  .content{width:100%;margin:0 auto;}
  .masthead{display:block;padding:50px 0px 30px 0px;}
  h1{font-size:4em;letter-spacing:10px;}
  .tagLine{font-size:1.2em;}
  .words{width:90%;}
}
