/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
body{background-image:url("../flowertrail.png");}
a{color:white;text-decoration:none;}
a:visited{color:white;}
a:hover{color:white;}
.navBar
{
  background-color:black;
  width:auto;
  padding:10px;
}
.nav
{
  display:inline-block;
}
.navRight
{
  float:right;
}
.content
{
  width:100%;
  margin:0 auto;
}
.masthead
{
  width:auto;
  margin:0 auto;
  padding:100px 0px 50px 0px;
  text-align:center;
  font-family:'Niconne';
}
h1
{
  font-size:6em;
  letter-spacing:15px;
}
.tagLine
{
  font-size:1.75em;
}
@media(max-width:500px)
{
  .nav{display:block;text-align:center;}
  .navRight{float:none;margin-top:20px;}
}
